<h1>Lista de Postagens</h1>
<a href="/">Faça outra postagem</a>
{{#each posts}}
<small>{{createdAt}}</small>
<h2>{{titulo}}</h2>
<p>{{conteudo}}</p>
<a href="/deletar/{{id}}"><button>Deletar</button></a>
<p>--------------------</p>
{{/each}}