<form action="/cad" method="post">
    <h1>Título</h1>
    <input name="titulo" type="text" placeholder="digite um titulo">
    <h2>Conteúdo</h2>
    <textarea name="conteudo"></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>